.aboutContent {
    height: 500px;
    color: antiquewhite;
}

.about-landing{
    display: flex;
    justify-content: center;
    font-family: Cochin, serif;
    font-size: 20px;
    margin-bottom: 0px;
    background-color: sandybrown;
    
}
.staff{
    display: flex;
    justify-content: center;
    font-family: Cochin, serif;
    font-size: 30px;
    background-color: sandybrown;
    padding: 15px;

}
.picturecap{
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;

}

.aboutus{
    margin: 100px;
    font-size: 23px;
}