.landing{
    position: relative;
}
.textbox{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: Cochin, serif;
    margin-bottom: 0px;
    background-color: sandybrown;
    margin: 15px;
    }

    .welcome-home{
        display: flex;
        justify-content: center;
        font-family: Cochin, serif;
        font-size: 20px;
        margin-bottom: 0px;
        background-color: sandybrown;
    }

.intro{
    margin: 75px 150px 150px 150px;
    font-size: 25px;
}
.intro1{
    font-size: 25px;
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}