.steeping-methods{
    margin-top: 75px;
    margin-left: 15%;
}

.methods{
    margin-left: 15%;
    margin-top: 50px;
    font-size: 20px;
}

.hottea{
    border: 1px solid s;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.hot{
    font-size: 20px;
}

.coldtea{
    border: 1px solid s;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.cold{
    font-size: 20px;
}

.methodsimg{
    width: 940px;
  margin-top:90px;
  margin-left: auto; 
  margin-right: auto;
}


