.img{
    height: 50%;
    width: 30%;
    margin-left: 12%;
    display: inline-block;
    border: 1px solid sandybrown;
    padding: 20px;
}

h3{
    display: flex;
    justify-content: center;
    font-family: Cochin, serif;
    font-size: 22px;
    background-color: sandybrown;
    margin-bottom: 100px;
}

.caption{
    display: inline;
    margin: 16%;
    font-size: 20px;
}
.caption1{
    display: inline;
    font-size: 20px; 
}


